@media screen and  (max-width: 940px) {
	header {
		h1{
			margin: 0rem 0 2rem 1rem;
			padding: 0;
		}
		.logo{
			vertical-align: top;
			margin: 0rem 1rem 1rem 1rem;
			font-size: 6rem;
			width: 7rem;
			height: 7rem;
			line-height: .95;
			border-radius: 5rem;
			margin-top: .5rem;

		}
		.heading-text{
			h1{
				font-size: 2.5rem;

			}
		}
	}
	nav{
		ul{
			li{
				padding-right: 2rem;
				font-size: 1.5rem;
			}
		}
	}
}	
@media screen and  (max-width: 890px) {
	header {
		h1{
		}
		.logo{
			vertical-align: top;
			margin: 0rem 1rem 1rem 1rem;
			font-size: 5rem;
			width: 6rem;
			height: 6rem;
			line-height: .95;
			border-radius: 4.5rem;
			margin-top: .5rem;

		}
		.heading-text{
			h1{
				font-size: 2.5rem;

			}
		}
	}
	.content{
		aside{
			width: 320px;
			height: 320px;
			border-radius: 200px;
			p{
				margin-top: 1rem;
				font-size: 1rem;
				
			}
			ul{
				li{
					font-size: 1.2rem;
				}
			}
			blockquote{
				font-size: 2rem;
			}
			img{
				width: 312px;
				height: 312px;
				border-radius: 400px;
				margin-top: 4px;
			}
		}
		.iframe-holder{
			width: 350px;
			height: 350px;
			border-radius: 350px;
			z-index: 1000000;
		}
		#document{
			display: none;
		}
		

	}

}	
@media screen and  (max-width: 760px) {
	header {
		padding-top: 1rem;
		.logo{
			float: none;
			display: block;
			text-align: center;
			margin: 0 auto;
		}	
		text-align: center;
		&:after{
			clear: both;
			display: table;
			content: "";
		}
	}
	nav{
		padding-bottom: 1rem;
		ul{
			li{
				display: block;
				font-size: 2rem;
				padding-bottom: .5rem;
			}
		}
	}
	.content{
		.main{
			float: none;
			width: auto;
			display: block;
			margin-right: 1rem;
		}
		aside{
			@extend .main-content-element;
			border-radius: 0;
			width: 100%;
			height: auto;
			margin: 0;
			p, ul li{
			font-size: 2rem;
			}
			blockquote{
				display: none;
			}
			img{
				max-width: 100%;
				width: auto;
				height: auto;
				border-radius: 0;
				margin: 0;
			}
		}
		.location{
			width: 100%;
			padding: 0 0 2rem 0;
			text-align: left;

		}
		.location:first-of-type{
			padding-right: 0;
		}
		.location:last-of-type{
			padding-left: 0;
		}
		iframe{
			border-radius: 0;
			width: 100%;
			height: 400px;
		}
	}
	footer{
		.copyright, .contact{ 
			float: none;
			width: auto;
			text-align: left;
		}
	}

}	