$light-text: MyriadPro-Light;
$bold-text: MyriadPro-Light;
$light-header: MyriadPro-LightCond;
$logo-text: MyriadPro-SemiboldCond;




.heading{
	font-family: myriad-pro-condensed,sans-serif;
	font-weight: 300;
}

.copy{
	font-family: myriad-pro,sans-serif;
	font-weight: 300;
}

.main-content-element{
	max-width: 1024px;
	padding: 0 calc(50% - 512px);
}

$dark-blue: #232C52;
$blue: #5267be;
$brown-light: #ddcba8; 
$brown-dark: #c6b087;

strong{
	font-family: myriad-pro,sans-serif;
	font-weight: 400;
}

dt{
	font-weight: 400;
}
dd{
	font-style: italic;
}

header {
	@extend .main-content-element;
	background-color: $blue;
	box-shadow: 0 1px 5px #232C52;
	h1{
		@extend .heading;
		color: #FFFFFF;
		text-shadow: 0 0 3px #232C52;
		margin: 0rem 0 2rem 1rem;
	}
	.logo{
		margin: 1rem 1rem 1rem 1rem;
		font-family: "myriad-pro-condensed",sans-serif;
		font-style: normal;
		font-weight: 600;
		color: $blue;
		background-color: #FFFFFF;
		font-size: 9rem;
		display: inline-block;
		width: 10rem;
		height: 10rem;
		text-align: center;
		line-height: .95;
		border-radius: 5rem;
		box-shadow: 0 0 3px #232C52;
		text-shadow: 0 0 2px #000;
		a{
			color: $blue;
			text-decoration: none;
		}

	}
	.heading-text{
		display: inline-block;
		h1{
			font-size: 3rem;

		}
	}
}


.home .home-link a, .about .about-link a, .specialties .specialties-link a, .location .location-link a, 
.finances .finances-link a, .statement .statement-link a{
	color: $dark-blue;
}

nav{
	@extend .heading;

	a{
		color: $brown-dark;
		text-shadow: 0 0 3px $dark-blue;
		text-decoration: none;

	}
	a:hover{
		color: $brown-light;
	}
	ul{
		list-style: none;
		margin: 0 0 0 1rem;
		padding: 0 0 0 0;
		li{
			display: inline-block;
			padding-right: 2rem;
			font-size: 2rem;
		}
	}
}

footer{
	@extend .main-content-element;

	.copyright, .contact{
		float: left;
		width: 50%;
		 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	.copyright{
		padding-left: 1rem;
	}
	.contact{
		text-align: right;
		padding: 0 1rem;
	}
}

body{
	@extend .copy;
	margin: 0;
	padding: 0;

}

.home{
	.main{
		width: 50%;
		float: left;
	}
	aside{
		float: left;	
	}
}

.content{
	@extend .main-content-element;
	font-size: 1.7rem;
	padding-bottom: 1rem;
	.main{
		margin: 0 1rem;
	}

	iframe{
		border-radius: 2000px;
		box-shadow: 0 0 3px $blue;
	}

	.location{
		width: 50%;
		 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		float: left;
		h3{
			margin-top: 0;
		}
	}
	.location:first-of-type{
		padding-right: 1rem;
	}
	.location:last-of-type{
		padding-left: 1rem;
	}

	aside{
		box-shadow: 0 0 3px #423B2D;
		background-color: $brown-light;
		color: #fff;
		width: 400px;
		height: 400px;
		margin-top: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		float: right;	
		border-radius: 400px;
		text-align: center;
		-webkit-shape-outside: circle(200px, 200px, 240px);
		overflow: hidden;

		&:nth-of-type(2){
			float: left;
			background-color: $blue;
			blockquote{
				text-shadow: 0 0 3px #000
			}
		}

		img{
			width: 392px;
			height: 392px;
			border-radius: 400px;
			margin-top: 4px;
		}


		blockquote{
			padding-top: 2rem;
			font-size: 2.6rem;
			font-style: italic;		
			text-shadow: 0 0 3px #423B2D
		}
		blockquote:before{
			content: "\201C";
		}
		blockquote:after{
			content: "\201D";
		}


		p{
			font-size: 1.5rem;
			margin: 2rem 0 0 0;
			padding: 0 0 1rem 0;
			font-family: $light-text;
			text-shadow: 0 0 3px #423B2D
			
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				color: $blue;
				padding-bottom: .5rem;
				font-size: 1.5rem;
				font-family: $light-header;
				font-weight: normal;
			}
		}
	}
	&:after{
		clear: both;
		display: table;
		content: "";
	}

}
@import 'tablet';
